@{
    ViewBag.Title = "Basic VPOS";
}

<div class="jumbotron">
    <h1>RezaB VPOS</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Basic VPOS</h2>
        <p>
            Test Basic VPOSes.
        </p>
    </div>
    <div class="col-md-12">
        <p>@Html.ActionLink("QNB Finans", "QNBFinansBasic")</p>
        <p>@Html.ActionLink("Ziraat", "ZiraatBasic")</p>
        <p>@Html.ActionLink("PayTR", "PayTRBasic")</p>
        <p>@Html.ActionLink("Yapı Kredi", "YapiKrediBasic")</p>
        <p>@Html.ActionLink("VakıfBank", "VakifBasic")</p>
    </div>
    
</div>